<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="~{fragments/resources :: headResources('Project List')}"></head>
<body>
<nav th:replace="~{fragments/navbar :: topNavbar('projects')}"></nav>
<div class="container" th:if="${projectList.size() > 0}">
    <div th:replace="fragments/components :: message"></div>
    <form th:action="@{/projects}" method="GET" class="w-50 my-3">
        <div class="input-group">
            <input
                    type="text"
                    placeholder="Search project by name"
                    class="form-control" name="search"
                    th:value="${param.search}"
            >
            <button class="btn btn-secondary" type="submit">Search</button>
        </div>
    </form>
    <div class="my-3" sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/projects/create}" class="btn btn-secondary">Add new project</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projectList}" th:object="${project}">
            <td th:text="*{title}"></td>
            <td th:text="*{description}"></td>
            <td><img class="h-25 w-25" th:src="*{image}"></td>
            <td class="d-flex">
                <a class="btn btn-secondary" th:href="@{/projects/show/{id}(id=*{id})}" title="details"><i
                        class="fa-solid fa-book"></i></a>
                <a class="btn btn-secondary" th:href="@{/projects/edit/{id}(id=*{id})}" title="edit" sec:authorize="hasAuthority('ADMIN')">
                    <i class="fa-solid fa-pen-to-square"></i></a>
                <form
                        method="POST"
                        th:action="@{/projects/delete/{id}(id=*{id})}"
                        onsubmit="return confirm('Are you sure?')"
                        sec:authorize="hasAuthority('ADMIN')"
                >
                    <button type="submit" class="btn btn-secondary"><i class="fa-solid fa-trash-can"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:unless="${projectList.size() > 0}" class="container mt-2"><h1>No project</h1></div>
</body>
</html>